
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.orixy__sidebar {
  &-info {
    width: 100%;
    max-width: 400px;
    background-color: #0C1308;
    box-shadow: 0 13px 29px rgba(4, 0, 23, 0.1);
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    @include transition(.4s);
    padding: 40px;
    opacity: 0;
    visibility: hidden;
    right: -450px;
    overflow-y: auto;
    &:is(.sidebar_open) {
      opacity: 1;
      visibility: visible;
      right: 0px;
    }
  }
  &-close-btn {
    font-size: 20px;
    background: transparent;
    color: var(--clr-common-white);
    border: 1px solid rgba(255,255,255, .30);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &:hover {
      background-color: var(--clr-hover-primary);
      color: var(--clr-common-white);
      border: transparent;
    }
  }
  &-contact {
    & .title {
      font-size: 26px;
      font-weight: 700;
      color: var(--clr-common-white);
      margin-bottom: 40px;
    }
    &-item {
      & .icon {
        font-size: 20px;
        color: var(--clr-common-white);
        display: inline-block;
        margin-right: 10px;
      }
      & .text {
        font-size: 18px;
        display: inline;
        color: var(--clr-common-white);
      }
      & .link-text {
        font-size: 18px;
        display: inline;
        color: var(--clr-common-white);
        &:hover {
          color: var(--clr-hover-primary);
        }
      }
    }
  }
  &-social {
    a {
      display: inline-block;
      font-size: 24px;
      color: var(--clr-common-white);
      margin-right: 15px;
      &:hover {
        color: var(--clr-hover-primary);
      }
    }
  }
}

.offcanvas-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(4, 0, 23, 0.8);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  @include transition(.4s);
  transform: scaleX(0);
  transform-origin: left;
  
  &:is(.overlay_open) {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
  }
}
 
.sidebar-menu {
  .mean-bar {
    .mean-nav {
      background: transparent;
      margin-top: 40px;
      margin-bottom: 40px;
      li {
        a {
          border: none;
          font-size: 14px;
          color: var(--clr-common-white);
          letter-spacing: .96px;
          text-transform: uppercase;
                
        }
        .mean-expand {
          border: none;
          background: transparent;
          margin-top: 4px;
          &:hover {
            background: transparent;
          }
          .mean-clicked {
            background: transparent;
          }
        }    
      }
    }
  }

}
